body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.filter-container {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

.course {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: flex; /* Added to enable side-by-side alignment */
    align-items: center; /* Center content vertically */
}

.course-image {
    flex: 0 0 300px; /* Fixed width for the image container */
    margin-right: 20px; /* Spacing between image and text */
}

.course-image img {
    max-width: 100%;
    height: auto;
}

.course-details {
    flex-grow: 1; /* Grow to fill available space */
}

.course h2 {
    margin-top: 0;
}

.course p {
    margin: 5px 0;
}
